# fly.toml app configuration file generated for remix-jokes-a on 2023-05-23T14:43:26+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "remix-jokes-a"
primary_region = "otp"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
